@import "../shared.scss";

.links {

    padding-top: 10px;
    list-style-type: square;

    li {
        margin-left: 20px;
    }

}

.notice-badge {
    padding: 10px;
}

.notice-tile {
    font-size: 1rem;
}