/*
    General
*/

// Because we wrap buttons with Link for React router, we need to disable the underline link
a:hover {
    text-decoration: none !important;
}


/*
    General helpers
*/
.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.custom-spinner {
    height: 50px;
}

.custom-textfield {
    width: 100%;
}

/*
    Used on App.js
*/

.loading {
    padding-top: 50px;
    height: 100px;
}

/*
    Used on Home.js
*/

.list-view {
    background: #f7f7f8;
    padding: 10px;
}

/*
    Used on Preview.js
*/

.preview-item {
    background-color: white;
    padding: 5px;
}

.preview-image {
    img {
        width: 100%;
    }
}

/*
    Used on View.js
*/

.view-item {
    background-color: white;
    padding: 10px;

    img {
        width: 100%;
    }
}

/*
    Used on ExportTerraform
*/

.terraform {
    max-width: 400px;
}


/*
    Used on
*/
.custom-export-json-link {
    padding: 5px 0 5px 16px;
}
