
.list-view {
    background: #f7f7f8;
    padding: 10px;
}

.preview-item {
    background-color: white;
    padding: 5px;
}

.preview-image {
    img {
        width: 100%;
    }
}

.view-item {
    background-color: white;
    padding: 10px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.sources .badge {
    margin-right: 5px;
}

.float-right {
    float: right;
}

.code {
    width: 100%;
}

.sidebar {
    border-right: 1px solid #eee;
}

.nav-divider {
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    margin-bottom: 5px;
}

.header {
    border-bottom: 1px solid #eee;
    padding: 10px 0 15px 0;
}

header a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h4 {
    padding: 10px 0 5px 0;
}

h5 {
    padding: 15px 0 5px 0;
}

.text-small {
    font-size: 0.8em;
}

.terraform {
    max-width: 400px;
}

.nav-item {
    padding: 10px;
}

ul li {
    margin-left: 20px;
}

#search {
    border: 1px solid #ccc;
    padding: 5px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-right {
    text-align: right;
}

.custom-textfield {
    width: 100%;
}

.custom-spinner {
    height: 50px;
}

.custom-align-right {
    text-align: right;
}

a:hover {
    text-decoration: none !important;
}

.padding-top {
    padding-top: 15px;
}
